/* Reset CSS Simples */

/* Remove margens e preenchimentos padrão */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
  }
  
  /* Define box-sizing como border-box para todos os elementos */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* Remove estilos de lista padrão */
  ul, ol {
    list-style: none;
  }
  
  /* Remove estilos de link padrão */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Remove bordas de imagens */
  img {
    border-style: none;
  }
  
  /* Torna as imagens responsivas */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Define a fonte padrão */
  body {
    font-family: sans-serif;
    line-height: 1.5;
  }