@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    font-size: 62.5%;
    --cor-primaria: #222831;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #a8d2e6;
    --cor-quaternaria: #00ADB5;
    --cor-hover: #3F4F44;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: 'Monteserrat', sans-serif;

}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    /* background-color: rgb(28, 34, 39); */
    color: white;
    height: 100vh;
}



/* MENU */
.cabecalho{
    padding: 2% 0 0 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 8rem;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.apresentacao {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 5% 10.5%;
    /* max-width: 100%; */
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao>img {
    width: 50rem;
}

.apresentacao__container {
    width: 61.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.apresentacao__titulo {
    font-family: var(--fonte-primaria);
    font-size: 3.6rem;
}

.apresentacao__conteudo {
    font-family: var(--fonte-secundaria);
    font-size: 2.4rem;
    list-style: initial;
    padding: 0 0 0 4%;
}

.apresentacao__conteudo__sobre{
    font-family: var(--fonte-secundaria);
    font-size: 2.4rem;

}



/* Botões */

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
}

.apresentacao__conteudo__links>a {
    /* background-color: #a8d2e6; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.6rem;
    border: 0.2rem solid var(--cor-terciaria);
    width: 37.8rem;
    text-align: center;
    border-radius: 0.8rem;
    padding: 2.15rem 0;
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__conteudo__links>a:hover {
    background-color: var(--cor-hover);
}


.apresentacao__conteudo__links>h2 {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 2.4rem;
}

.rodape {
    background-color: var(--cor-quaternaria);
    color:var(--cor-primaria);
    padding: 2.4rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}